@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap");

:root {
  /*Colors*/
  --color-blue-dark: #125b8b;
  --color-blue: #2980b9;
  --color-blue-light: #37a3eb;

  --color-white: #ecf0f1;

  --color-grey-dark: #777;

  --color-silver: #bdc3c7;

  /*Font-sizes*/
  --font-very-big: 2.4rem; 
  --font-big: 2rem;
  --font-medium: 1.6rem;
  --font-small: 1.4rem;
  --font-very-small: 1.2rem;

}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 9px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

