@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap");

:root {
  /*Colors*/
  --color-blue-dark: #125b8b;
  --color-blue: #2980b9;
  --color-blue-light: #37a3eb;

  --color-white: #ecf0f1;

  --color-grey-dark: #777;
  /*Font-sizes*/
  --font-very-big: 2.4rem;
  --font-big: 2rem;
  --font-medium: 1.6rem;
  --font-small: 1.4rem;
  --font-very-small: 1.2rem;
}

*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.search-results {
  padding: 2rem;
}

.result-list {
  list-style: none;
}

.result {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 1rem;
  grid-gap: 0.4rem 1rem;
  text-align: left;
  box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
  background-color: rgb(255, 255, 255);
}

.result a {
  text-decoration: none;
}

.result-title {
  font-size: var(--font-very-big);
  color: var(--color-blue-dark);
  grid-column: 1/2;
}

.result-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.result-description {
  font-size: var(--font-medium);
  grid-column: 1/2;
}

.result-excerpt {
  font-size: var(--font-very-small);
  grid-column: 1/2;
}

.result-image {
  align-self: flex-end;
  width: 10rem;
  height: 10rem;
  grid-column: 2/3;
  grid-row: 1/4;
  align-self: flex-start;
}

.result {
  border: 1px solid var(--color-blue-dark);
  border-radius: 0.6rem;
  margin-bottom: 1rem;
}

.languages {
}

.language-list {
  height: 10rem;
  list-style: none;
  overflow: scroll;
  /* display: flex; */
}

.language {
  padding: 0 0.5rem;
  font-size: var(--font-medium);
}

.nav {
  font-size: var(--font-big);
  background: var(--color-blue);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav svg {
  color: var(--color-white);
  min-height: 3rem;
  min-width: 3rem;
  margin-right: 1rem;
}

.nav-list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.nav-list li {
  padding: 0.5rem 0.5rem;
  position: relative;
  margin-right: 1rem;
}

.nav-list a {
  text-decoration: none;
  color: var(--color-white);
  text-align: center;
}

.nav-list a:hover:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 0.3rem;
  background-color: var(--color-white);
}

.nav-app-name {
  font-family: ubuntu;
  color: var(--color-white);
  margin-right: auto;
}

.search-bar {
  margin-top: 2rem;
  width: 50%;
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  font-size: var(--font-big);
  height: 3rem;
  margin-right: -3.5rem;
  border: none;
  padding: 2rem 3rem;
  border-radius: 100px;
  width: 90%;
  color: var(--color-blue-dark);
}

.search-input:focus {
  outline: none;
  width: 100%;
}

.search-bar svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-grey-dark);
}

.search-articles {
  display: flex;
  align-items: center;
  flex-direction: column;
}
