.languages {
    border-bottom: 1px solid var(--color-blue-dark);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, max-content) 1fr;
    gap: 1rem 2rem;
}

.languages form {
    margin: 0;
    grid-column: 1/2;
    width: 100%;
}

.languages-heading {
    color: var(--color-blue-dark);
    font-size: var(--font-big);
    grid-column: 1/2;
}

.language-list {
    grid-column: 2/3;
    grid-row: 1 / span 3;
    margin: 1rem auto 0 auto;
    height: 10rem;
    list-style: none;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding: 1rem;
    min-width: 20rem;
}

.language {
    padding: 0 0.5rem;
}

.language button {
    font-size: var(--font-medium);
    border: none;
    cursor: pointer;
    background-color: inherit;
}

.language button:hover {
    color: var(--color-blue-light);
}

.current-language {
    font-size: var(--font-medium);
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 3/4;
}

.current-language-info {
    font-size: inherit;
    margin-right: 2rem;
}

.english-button {
    font-size: inherit;
    border: none;
    background-color: var(--color-blue-light);
    color: var(--color-white);
    padding: 1rem;
    cursor: pointer;
    border-radius: 6px;
}

.english-button:hover {
    background-color: var(--color-white);
    color: var(--color-blue-light);
}
